/* File: assets/css/global.css
 * Info: CSS styles that apply to everything
 * Reminder: Indenting matters!
 */

body {
    font-family: sans-serif;
    background-color: var(--bc);
    color: var(--tc);
}

a[href] {
    text-decoration: none;
}

a[href]:link {
    color: var(--link);
    transition: color 0.5s ease;
}
a[href]:visited {
    color: var(--visited);
    transition: color 0.5s ease;
}
a[href]:active {
    color: var(--active);
    transition: color 0.5s ease;
}
a[href]:hover {
    color: var(--hover);
}

summary {
    cursor: pointer;
}

/* I was under the impression that by using a defintion list (dl), the defintion terms (dt) would be bold. Apparently, I was wrong about that. This should fix it. */
dt {
    font-weight: bold;
}

h1, h2, h3 {
    text-shadow: var(--tsh);
}

/* TODO: Make a few classes for bq */
blockquote {
    width: 80%;
    border-left: 3px solid var(--bqac);
    background-color: var(--bqbc);
    /* TODO: gradient background */
    color: var(--bqtc);
    padding: 3px;
    box-shadow: var(--bsh);
}

/* Adding a ribbon */
.ribbon-container {
    position: relative;
}

.ribbon {
    position: absolute;
    text-align: center;
    line-height: 50px;
    letter-spacing: 1px;
    background-color: hsl(260,73%,50%); /* #D90; */ /* TODO: Change this color to something that reflects the theme better */
    color: #f0f0f0;
    box-shadow: -5px 5px 3px rgba(0,0,0,.3);
    width: 300px;
    top: 55px;
    right: -70px;
    left: auto;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    overflow: hidden;
}
  
/* TODO: Change to theme colors */
.ribbon a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}
.ribbon a[href]:link{
    color: #efefef;
}
.ribbon a[href]:visited{
    color: #efefef;
}
.ribbon a[href]:active{
    color: #ffffff;
}
.ribbon a[href]:hover{
    color: #ffffff;
}